
assignmentfiles_2017/*.class
!assignmentfiles_2017/BentCigarFunction.class
!assignmentfiles_2017/KatsuuraEvaluation.class
!assignmentfiles_2017/SchaffersEvaluation.class
!assignmentfiles_2017/SphereEvaluation.class

assignmentfiles_2017/tmp/

assignmentfiles_2017/tests/

assignmentfiles_2017/submission\.jar

assignmentfiles_2017/jonTest\.sh
